@media screen and (max-width: 600px) {
    div {
      background-color: green;
    }
  }
  
  @media screen and (min-width: 600px) {
    div {
      background-color: blue;
    }
  }
  
  @media screen and (min-width: 1000px) {
    div {
      background-color: rgb(128, 0, 0);
    }
  }
  @media screen and (max-width: 767px) {
    div {
      background-color: rgb(29, 165, 29);
    }
  }
  
  @media screen and (min-width: 768px) {
    div {
      background-color: rgb(83, 83, 213);
    }
  }
  
  @media screen and (min-width: 1024px) {
    div {
      background-color: rgb(209, 224, 51);
    }
  }